

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button>Volver</ion-back-button>
      </ion-buttons>
      <ion-title>
        Log In
      </ion-title>
    </ion-toolbar>
  </ion-header>

 

  <ion-content [fullscreen]="true">

    <div class="fondo-cuenta">
      <div id="titulo">
        <h2>Ingresa tus datos </h2>
      </div>


      <div id="container" >
        

        <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
          <ion-item>
              <label class="form-label">Email</label>
              <input type="text" class="form-control" formControlName="email">
          </ion-item>
          <br>
          <ion-item>
              <label class="form-label">Password</label>
              <input type="password" class="form-control" formControlName="password">
          </ion-item>
          <input type="submit" value="Enviar">
        </form>

        
        <br>

        <!-- Boton de log in -->
        <ion-button (click)="validarLogin()" >
          Ingresar
        </ion-button>

        <hr>
        
        <!-- Te redirige a la pagina Registro-->
        <p>¿No tienes cuenta? <a [routerLink]="['/registro']">Pincha aqui</a></p>
 

        <br>

        <h2 color="red">{{mensaje}}</h2>
        


      </div>
    </div>

    
  </ion-content> 



