

  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button>Volver</ion-back-button>
      </ion-buttons>
      <ion-title>
        Log In
      </ion-title>
    </ion-toolbar>
  </ion-header>

 

  <ion-content [fullscreen]="true">

    <div class="fondo-cuenta">
      <div id="titulo">
        <h2>Ingresa tus datos </h2>
      </div>


      <div id="container" >
        

        <!-- LogIn firebase -->

        <div class="formulario">

          <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <ion-item color="primary">
              <ion-label position="floating">Usuario (mail)</ion-label>
              <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
            <ion-item color="primary">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>

            <br>
    
            <ion-button type="submit" color="primary" >Iniciar sesion </ion-button>
    
          </form>
    
        </div>
        
        <br>

        <!-- Boton de log in - LOCAL *BORRAR* 
        <ion-button (click)="validarLogin()" >
          Ingresar
        </ion-button>
        -->


        <hr>
        
        <!-- Te redirige a la pagina Registro-->
        <p>¿No tienes cuenta? <a [routerLink]="['/registro']">Pincha aqui</a></p>
 

        <br>

        <h2 color="red">{{mensaje}}</h2>
        


      </div>
    </div>

    
  </ion-content> 





