

<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="solid" (click)="onClick()" color="danger">Cerrar sesion ❌</ion-button>
    </ion-buttons>
    <ion-title>
      ClassCheckQR
    </ion-title>
    <ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

<div class="fondo-cuenta">
  <div id="titulo">
    <h1><b>Bienvenido alumno!</b></h1>
    <h4>Usuario :  {{auth.currentUser?.email}}</h4>
    
  </div>


  <ion-avatar id="avatar" #avatar>
    <img alt="Avatar" src="https://cdn.icon-icons.com/icons2/1465/PNG/512/130manstudent2_100617.png" />
  </ion-avatar>



  <div class="informacion">

    
    <h2>Informacion adicional</h2>


    <!-- formulario nuevo -->

    <div class="formulario">

      <form [formGroup]="formAlumno" (ngSubmit)="onSubmit()">
        <ion-item color="primary">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-label position="floating">Apellido</ion-label>
          <ion-input formControlName="apellido" type="text"></ion-input>
        </ion-item>
        <ion-item color="primary">
          <ion-select formControlName="asistencia" aria-label="Fruit" interface="popover" placeholder="Asistencia">
            <ion-select-option value="Presente">Presente</ion-select-option>
            <ion-select-option value="Ausente">Ausente</ion-select-option>
          </ion-select>
        </ion-item>
        <br>

        <!-- Registro de asistencia manual -->
        <ion-button type="submit" color="primary" (click)="presentAlert()">
          Registrar Asistencia
        </ion-button>

        <hr>
        
        <!-- Boton para escanear codigo QR-->
        <ion-button   color="tertiary" [routerLink]="['/scan-qr']"> 
          Registrar asistencia con Codigo QR
        </ion-button>      
        

        <!--Boton prueba qr-
        <ion-button expand="full" (click)="startScanner()" [hidden]="scanActive">
          SCAN
        </ion-button>
        <ion-row class="scan-button" [hidden]="!scanActive">
          <ion-col class="ion-no-padding">
            <ion-button expand="full" (click)="stopScanner()">Stop</ion-button>
          </ion-col>
        </ion-row>
        <div class="scan-box" [hidden]="!scanActive"></div>



      -->



      </form>

    </div>

    <hr>



    
    

  </div>

  
 




</div>
</ion-content> 



