#titulo {
    text-align: center;
    padding-top: 20px;

  }



.fondo-cuenta {
    background-image: url('https://media.istockphoto.com/id/1010238190/photo/blue-defocused-blurred-motion-abstract-background.webp?b=1&s=170667a&w=0&k=20&c=F3XyYKdl4L3ISDdAxTG8-nv0x4M_p6hSaeXa2vNxbwI='); /* Ruta a la imagen de fondo */
    background-size: cover; 
    background-repeat: no-repeat; 

    text-align: center;
    width: 100%; /* Con esto puedo hacer que la imagen ocupe la totalidad del fondo */
    height: 100%
  }

ion-title {
  text-align: left;
}

.informacion {

  padding: 15px;
  padding-bottom: 80%;
}




