<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button fill="solid" (click)="onClick()" color="danger">Cerrar sesion ❌</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button>Volver</ion-back-button>
    </ion-buttons>
    <ion-title>
      ClassCheckQR
    </ion-title>
    <ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

<div class="fondo-cuenta">







  <div class="informacion">

    
    <h2>Detalle curso</h2>

    <ion-list-header>
      Alumnos del Curso: 005-D
    </ion-list-header>

    <br>
    

    <!-- Lista de alumnos con Firebase -->
    

    <ion-list>
      <ion-item *ngFor="let alumno of alumnos" color="primary">
        <ion-label>{{alumno.nombre}} {{alumno.apellido}} </ion-label> <ion-label color="success">| {{alumno.asistencia}}</ion-label>
      </ion-item>
    </ion-list>

    <br>

    <!-- Boton - Registrar clase -->
    <ion-button (click)="presentAlert()" color="success" expand="block" >
      Registrar clase
    </ion-button>    

    


    <!-- GENERACIÓN DE CODIGO QR -->
    <ion-card class="ion-text-center" color="light">
      <ion-card-content>
        <qrcode 
        [qrdata]="'Asistencia registrada correctamente!'" 
        [width]="256" 
        [errorCorrectionLevel]="'M'">
      </qrcode>
      </ion-card-content>
      <ion-item color="tertiary">
        <ion-label class="ion-text-center">
          CODIGO QR ASISTENCIA 
        </ion-label> 
      </ion-item>
    </ion-card>
    
    
  </div>

  
 




</div>
</ion-content> 










    

