#container {
  text-align: center;

  padding: 15px;
  
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;


  margin: 0;
}


#titulo {
  text-align: center;
  padding-top: 20px; /* genera un margen del toolbar */
  color: white;

}

.fondo-cuenta {
  background-image: url('https://e0.pxfuel.com/wallpapers/14/851/desktop-wallpaper-dark-blue-gradient-android-thumbnail.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat; 

  text-align: center;
  width: 100%; 
  height: 100%
}



ion-card img {
  width: 256px;
  height: 256px;
}


