

  <ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button>Volver</ion-back-button>
      </ion-buttons>
      <ion-title>
        Registrar usuario
      </ion-title>
    </ion-toolbar>
  </ion-header>

 

  <ion-content [fullscreen]="true">

    <div class="fondo-cuenta">



      <br>
      
      <div id="titulo">
        <h2>Ingresa tus nuevos datos </h2>
      </div>
      

      <div id="container">

        
        

        <!-- Registro de usuarios firebase -->
        <div class="formulario">

          <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
            <ion-item color="primary">
              <ion-label position="floating">Usuario (mail)</ion-label>
              <ion-input formControlName="email" type="text"></ion-input>
            </ion-item>
            <ion-item color="primary">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>

            <br>
    
            <ion-button type="submit" color="primary" >Registrarse</ion-button>
    
          </form>
    
        </div>  

        <hr>

        <!-- Si ya tienes cuenta te redirige a la pagina Registro-->
        <p>¿Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesion</a></p>


        <br>

        <!-- Mensaje en caso de datos erroneos en el formulario -->
        <h2 color="red">{{mensaje}}</h2>

      </div>
    </div>
  </ion-content>




